body {
    height: 100%;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(green, darkgreen, green);
}

table {
    width: 100%;

}

table, th, td {
    border: 2px solid forestgreen;
    border-collapse: collapse;
    font-size: 25px;
    text-align: center;

}

nav {
    width: 100%;
    background-image: linear-gradient(green, darkgreen, green);

    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
}

.navbar {
    display: flex;
    justify-content: center;

}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-item-points {
    color: white;
    display: inline-block;
    padding: 27px;
}

.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
}

.clear {
    clear: both;
    height: 60px;
}

footer {
    display: flex;
    justify-content: left;
    bottom: 0px;
    position: fixed;
    width: 100%;
    background-image: linear-gradient(green, darkgreen, green);
    font-size: 15px;

}

.footer-p {
    margin-left: 10px;
}

.invoice-add {
    display: flex;
    justify-content: end;
    padding: 15px;
}

.invoice-add-button {
    border: 3px solid green;
    background-image: linear-gradient(darkgreen, green);
    padding: 10px 30px;
    border-radius: 12px;
}

.invoice-add-button a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.invoice-table a{
    color: green;
}

input[type = submit] {
    background-image: linear-gradient(darkgreen, green);
    color: white;
    padding: 10px 30px;
    border-radius: 12px;
    font-size: 15px;
    margin: 10px;

}

.year-button-nav {
    display: flex;
    justify-content: center;
    padding: 15px;
}
.year-button {
    border-radius: 8px;
    border-color: green;
    margin-left: 2px;
    margin-right: 2px;
}

.year-button a {
    color: darkgreen;
    font-weight: bold;
    font-size: medium;
    text-decoration: none;
    padding: 10px;
}

.prize-content {
    border-radius: 8px;
    padding: 25px;
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 65%;
    background-image: linear-gradient(darkgreen, green, darkgreen);
    color: white;

}

.prize-details {
    height: 60px;
    font-size: large;
}

.prize-details-description {
    height: 100%;
    font-size: large;
    padding: 10px;
}

.prize-order {
    display: flex;
    justify-content: center;
}

.prize-order-details[type=number] {
    background-image: linear-gradient(green, darkgreen);
    color: white;
    width: 50px;
    height: 25px;
    margin-top: 15px;
}