{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href='{% static "style.css"  %}'>
    <title>Best Ever Loyalty Program</title>
</head>
<body>

<header>
    <h1>Best Ever Loyalty Program</h1>
</header>

<nav class="navbar">
    {% block nav %}
    <ul class="nav-links">
        <li class="nav-item"><a href="{% url 'main-site' %}">Home</a></li>
        <li class="nav-item"><a href="#">Zasady</a></li>
        <li class="nav-item"><a href="#">Premiowane produkt</a></li>
        <li class="nav-item"><a href="#">Nagrody</a></li>
        <li class="nav-item"><a href="{% url 'login' %}">Zaloguj</a></li>
        <li class="nav-item"><a href="{% url 'signup' %}">Rejestracja</a></li>
    </ul>
    {% endblock %}
</nav>
<h1> {% block h1 %} Witaj na stronie "Best Ever Loyalty Program" {% endblock %} </h1>

<h2> {% block h2 %} Zabacz jakie korzyści możesz otrzymać przystąpując do programu{% endblock %} </h2>


{% block content %}
<ul>
    {% for product in products %}
    <li> {{ product.name }}</li>
    {% endfor %}
</ul>
{% endblock %}

<div class="clear"></div>
<footer>
    {% if user.is_authenticated %}
    <p class="footer-p" >{% block footer %} Mój użytkownik: {{ user }} {% endblock %}</p>
    <p class="footer-p" >Best Ever Loyalty Program App</p>
    {% else %}
    <p class="footer-p" >Best Ever Loyalty Program App</p>
    {% endif %}
</footer>


</body>
</body>
</html>