{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href='{% static "style.css"  %}'>
    <title>Best Ever Loyalty Program</title>
</head>
<body>

<header>
    <h1>Best Ever Loyalty Program</h1>
</header>

<nav class="navbar">
    {% block nav %}
    <ul class="nav-links">
        <li class="nav-item"><a href="#">Home</a></li>
        <li class="nav-item"><a href="#">Our team</a></li>
        <li class="nav-item"><a href="#">Projects</a></li>
        <li class="nav-item"><a href="#">Contact</a></li>
    </ul>
    {% endblock %}
</nav>
<h1> {% block h1 %} Bonus products {% endblock %} </h1>

<h2> {% block h2 %} Products: {% endblock %} </h2>


{% block content %}
<ul>
    {% for product in products %}
    <li> {{ product.name }}</li>
    {% endfor %}
</ul>
{% endblock %}


<footer>
    <p class="footer-p" >{% block footer %} Mój użytkownik: {{ user }} {% endblock %}</p>
    <p class="footer-p" >Best Ever Loyalty Program App</p>
</footer>


</body>
</body>
</html>