{% extends "Loyalty_program_app/user-main-site.html" %}

{% block h2 %} <h2>Lista faktur</h2> {% endblock %}

{% block content %}
<div class="invoice-add">
    <button class="invoice-add-button"><a href="{% url 'invoice-add' %}">Dodaj fakturę</a></button>
</div>

<table>
    <thead>
    <tr>
        <th>Numer faktury</th>
        <th>Sprzedawca</th>
        <th> Data sprzedaży</th>
        <th> Liczba punktów </th>
    </tr>
    </thead>
    <tbody>
    {% for invoice in userinvoices %}
    <tr>
        <th class="invoice-table"><a href="{% url 'invoice-detail' invoice.id %}">{{invoice.invoice_number}}</a></th>
        <td class="invoice-table">{{invoice.vendor}}</td>
        <td class="invoice-table">{{invoice.sale_date|date:"d.m.Y" }}</td>
        {% for key, value in pointsperinvoice %}
        {% if key == invoice.id %}
        <td class="invoice-table">{{value}}</td>
        {% endif %}
        {%endfor%}
    </tr>
    {% empty %}}
    <tr>
        <th class="invoice-table">Brak faktur</th>
        <td class="invoice-table">-</td>
        <td class="invoice-table">-</td>
        <td class="invoice-table">-</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}