{% extends "Loyalty_program_app/user-main-site.html" %}
{% block h1 %} Historia zamówień {% endblock %}
{% block h2 %} {% endblock %}

{% block content %}
<div> Łączna wartość wydanych punktów: {{spentpointssum}} pkt </div>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Nagroda</th>
        <th>Ilość</th>
        <th>Data zamówienia</th>
        <th>Wartość zamówienia</th>
    </tr>
    </thead>
    <tbody>
    {% for item in usercartiems %}
    <tr>
        <th>{{item.prize}}</th>
        <td> {{item.quantity}} </td>
        <td> {{item.cart.order_date|date:"d.m.Y"}} </td>
        {% for key, value in ordervalue %}
        {% if key == item.id %}
        <td>{{value}} pkt</td>
        {% endif %}
        {%endfor%}
    </tr>
    {% empty %}
    <tr>
        <th>Brak zakupionych nagród</th>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}