{% extends "Loyalty_program_app/user-main-site.html" %}
{% block h1 %} {% endblock %}
{% block h2 %} {% endblock %}

{% block content %}

<div class="d-flex flex-column py-3 mb-4 border-bottom fw-bold">
    <h1 class="">PODSUMOWANIE</h1>
    <h2 class="">Zamówiona nagroda: {{ prize.name }} </h2>

    <div class="mt-3">Koszt jednostkowy: {{ prize.points_value }} pkt</div>
    <div class="mt-3">Liczba zamówionych nagród: {{ quantity }} szt</div>
    <div class="mt-3">Łączny koszt: {{ costsum }} pkt</div>
</div>
    <form class="" action="" method="POST">
        {% csrf_token %}
        <input class="btn btn-success" type="submit" name="order" value="Potwierdzam i zamawiam">
        <input class="" name="quantity" type="hidden" min="0" step="1" value="{{quantity}}">
    </form>



{% endblock %}