{% extends "Loyalty_program_app/base.html" %}
{% load static %}

{% block h1 %} Zbieraj punkty na nagrody !{% endblock %}
{% block h2 %}  {% endblock %}

{% block content %}
<div id="prize-container"
     class="d-flex justify-content-center flex-wrap">
    {% for prize in prizes %}

    <div id="prize-box"
         class=" d-flex flex-column m-5 p-1"
         style="height: 400px; width: 300px"
    >

        <div id="prize-box-image"
             class="h-50 rounded-top "
        >
            <img src="{% static 'voucher.jpg'%}"
                 class="h-100 w-100 rounded-circle"
                 style="object-fit: contain">
        </div>

        <div id="prize-box-details"
             class="h-50 p-1 d-flex flex-column text-secondary"
        >
            <div id="prize-box-details-name"
                 class="h4"
            >{{prize.name}}
            </div>
            <div id="prize-box-details-description"
                 class=""
            >Szczegóły:
                <p style="font-size: 12px">{{prize.prize_description}}</p>
            </div>
            <div id="prize-box-details-points"
                 class="mt-auto"
            >Punkty: {{prize.points_value}}
            </div>

        </div>
        <div id="line-sep-start" class="bg-primary rounded mt-2" style="height:5px"></div>

    </div>


    {% empty %}}
    <div class="bg-primary" style="height: 250px; width: 180px">Obecnie prak nagród</div>
    {% endfor %}


</div>

{% endblock %}

{% block footer %}
<footer class="d-flex flex-wrap justify-content-around  py-3 mb-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
        <span class="mb-3 mb-md-0 text-muted">© All rights reserved Kamil Łaski</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        {% if user.is_authenticated %}
        <li class="ms-3"><a class="text-muted" href="#">
            <svg class="bi" width="24" height="24"></svg>
            Zalogowany użytkownik {{ user }}</a></li>
        <li class="ms-3"><a class="text-muted" href="{% url 'main-site'%}">
            <svg class="bi" width="24" height="24"></svg>
            Best Ever Loyalty Program</a></li>
        {% else %}
        <li class="ms-3"><a class="text-muted" href="{% url 'main-site'%}">
            <svg class="bi" width="24" height="24"></svg>
            Best Ever Loyalty Program</a></li>
        {% endif %}
    </ul>
</footer>
{% endblock %}