{% extends "Loyalty_program_app/base.html" %}

{% block h1 %} Witaj {{ user }} {% endblock %}

{% block nav %}
<ul class="nav nav-pills justify-content-center">
    <li class="nav-item"><a href="{% url 'user-main-site' %}" class="nav-link active" aria-current="page">Home</a></li>
    <li class="nav-item"><a href="{% url 'invoices-list' %}" class="nav-link">Zestawienie faktur</a></li>
    <li class="nav-item"><a href="{% url 'pruchase-summary' 0 %}" class="nav-link">Zestawienie zakupów</a></li>
    <li class="nav-item"><a href="{% url 'prizes-order' %}" class="nav-link">Katalog nagród</a></li>
    <li class="nav-item"><a href="{% url 'orders-history' %}" class="nav-link">Historia zamówień</a></li>
    <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Wylgouj</a></li>
    <li class="nav-item nav-link">Aktualne saldo punktów: {{userpoints}}</li>
</ul>


{% endblock %}

{% block h2 %} <h2>Zapoznaj się z zasadami porgramu lojalnościowego</h2> {% endblock %}

{% block content %}


{% endblock %}